page-home {
    .labelColor{
        color : blue;
        font-size:20px;
        font-weight: bold;
    }

    .infoColor{
        color : blue;
        font-size:10pt;
        font-weight: bold;
    }
    .textboxColor{    
        font-size:15px;    
    }
    .alignCenter{
        text-align: center;
        color:#f53d3d;  
        font-size: 8pt;
    }
    .buttonAlign{
        text-align:center;
    }
}
